<!DOCTYPE html>
<html>
<head>
	<title>pix draw-v2.0</title>
	<style type="text/css">

		#back{
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: -1000;
		}
		#draw_draw1{
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: -10;
		}
		#grid{
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: -5;
		}
		#output{
			top: 0px;
			left: 0px;
			width: 100px;
			height: 50px;
			z-index: 10;
			position: fixed;
		}
		#draw_name{
			position: fixed;
			top: 0px;
			left: 120px;
			z-index: 20;
			height: 20px;
			width: 240px;
		}
		#input{
			top: 50px;
			left: 0px;
			width: 100px;
			height: 50px;
			z-index: 10;
			position: fixed;
		}
		#body{
			user-select: none;
		}
		#ereaser{
			position: fixed;
			z-index: 10;
			left: 400px;

		}

	</style>
</head>
<body id="body">

<form >
	<input id="draw_name" type="text" placeholder="Please input your file name First">	
</form>
<button id="input"  type="button" onclick="input_data()">input</button>
<button id="output" type="button" onclick="send_data()">output</button>
<button id="ereaser" type="button" onclick="change_draw()">	now:draw✏️</button>		

<canvas id="draw_draw1" class="draw" style="top: 0px; left: 0px; position: absolute; z-index: -5;"></canvas>
<canvas id="grid"></canvas>
<canvas id="back"></canvas>


<script type="text/javascript">
	console.log("new change");
	draw_name="";
	cell_len=20;

	draw=document.getElementsByClassName("draw")[0];
	grid=document.getElementById("grid");
	back=document.getElementById("back");

	width  = back.width  = grid.width  = draw.width  = window.innerWidth;
	height = back.height = grid.height = draw.height = window.innerHeight;

	ctx      = draw.getContext("2d");
	grid_ctx = grid.getContext("2d");
	back_ctx = back.getContext("2d");
	
	
	
	data_load=false;
	init_grid_back();

	//model control cell
		cur_color="rgba(255,255,0,0.5)";	//controled by color_model.js	
		cur_ctx= ctx;						//controled by floor_model.js---fl_model



	//init the background-color and the grid-color
	function init_grid_back(){
		back_ctx.fillStyle="rgba(140,140,140,1)";
		back_ctx.fillRect(0,0,width,height);

		grid_ctx.beginPath();
		grid_ctx.strokeStyle = 'rgba(245,245,245,1)'; 
		grid_ctx.lineWidth = 1; 
		for(i=0;i<width/cell_len;i++){
			grid_ctx.moveTo(i*cell_len,0);
			grid_ctx.lineTo(i*cell_len,height);
		}
		for(j=0;j<height/cell_len;j++){
			grid_ctx.moveTo(0,j*cell_len);
			grid_ctx.lineTo(width,j*cell_len);
		}
		grid_ctx.stroke();
	}
	//drawing event
	grid.onmousedown=function(event){

		cur_ctx.fillStyle=cur_color;
		var x=parseInt(event.clientX/cell_len)*cell_len;
		var y=parseInt(event.clientY/cell_len)*cell_len;
		last_x=x;//to provide to onmouse move,identify if need draw again or not.
		last_y=y;

		cur_draw(cur_ctx,cur_color,x,y,cell_len,cell_len);

		// cur_ctx.fillRect(x,y,cell_len,cell_len);
		document.onmousemove=function(event){
			// cur_ctx.fillStyle=cur_color;
			var x=parseInt(event.clientX/cell_len)*cell_len;
			var y=parseInt(event.clientY/cell_len)*cell_len;
			if(last_x!=x || last_y!=y){
				// cur_ctx.fillRect(x,y,cell_len,cell_len);
				cur_draw(cur_ctx,cur_color, x,y,cell_len,cell_len);
				last_x=x;//to provide to onmouse move,identify if need draw again or not.
				last_y=y;
			}
				
			
		}
		document.onmouseup=function(){
			document.onmousemove=null;
			document.onmouseup=null;

		}
	}
	//output
	function get_json(){
		var canva_tags=document.getElementsByClassName("draw");

		var msg={};
		msg["size"]=[parseInt(width/cell_len),parseInt(height/cell_len)];
		msg["name"]=draw_name;
		/*
		msg:{
		"cav id1":[z-index,cav_color],
		"cav id2":[z-index,cav_color],
		...
		}

		*/
		var i=0;
		for(i=0;i<canva_tags.length;i++){
			var cur_cav=canva_tags[i];//对于每一个cav
			var cav_info=window.getComputedStyle(cur_cav,null);
			var cav_ctx=cur_cav.getContext("2d");
			var cav_zindex=cav_info["z-index"];
			var cav_id=cur_cav.id;
		    var cav_color=[];
		    var wbp;//wbp=will be push
		    var W_cell=parseInt(width/cell_len);
		    var H_cell=parseInt(height/cell_len);
		    for(var j=0;j<W_cell;j++){//对每一列
				cav_color.push([]);//新建列
				for(var k=0;k<H_cell;k++){//每一列的每一行
					wbp=cav_ctx.getImageData(j*cell_len,k*cell_len,1,1).data
					cav_color[j].push(  [wbp[0],wbp[1],wbp[2],parseFloat(wbp[3]/255).toFixed(1)]);
				}
		    }
		    msg[cav_id]=[cav_zindex, cav_color];
	  }
	 return  msg;
	}
	function send_data() {
		draw_name=get_name();

		if(draw_name==""){
			alert("have not give the filename");
			return 0;
		}
		var data=get_json();
		var XHR = new XMLHttpRequest();
		var urlEncodedData = "";
		var urlEncodedDataPairs = [];
		var name;

		// 将数据对象转换为URL编码的键/值对数组。
		for(name in data) {
		urlEncodedDataPairs.push(encodeURIComponent(name) + '=' + encodeURIComponent(data[name]));
		}

		// 将配对合并为单个字符串，并将所有%编码的空格替换为
		// “+”字符；匹配浏览器表单提交的行为。
		urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');

		// 定义成功数据提交时发生的情况
		XHR.addEventListener('load', function(event) {
		alert('response success');
		});
		// 定义错误提示
		XHR.addEventListener('error', function(event) {
		alert('response faild');
		});

		// 建立我们的请求
		XHR.open('POST', 'http://127.0.0.1:5000/pix_draw');

		// 为表单数据POST请求添加所需的HTTP头
		XHR.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

		// 最后，发送我们的数据。
		XHR.send(urlEncodedData);
	}
	function get_name(){//return a value
		var input=document.getElementById("draw_name");
		return input.value;
	}
	//input
	function input_data(){
		get_data();
		//down is draw method
		fl_model_clear(all=true);

		var body=document.getElementsByTagName("body");
		var i,j,zindex,pix_value;
		var input_cav,input_ctx;
		var new_cavid;
		var cur_id;

		for(var k in data_load){
			zindex = data_load[k][0];

			pix_value = data_load[k][1];
			
			fl_model_new_cav(k);

			cur_ctx=document.getElementById(k).getContext("2d");
			document.getElementById(k).style.zIndex=zindex;
			

			for(i=0;i<data_load[k][1].length;i++){
				for(j=0;j<data_load[k][1][0].length;j++){
					cur_ctx.fillStyle='rgba('+String(data_load[k][1][i][j])+')';
					cur_ctx.fillRect(i*cell_len,j*cell_len,cell_len,cell_len);
				}
			}
			
			
		}

		
		fl_model_add_floor_init();
	}
	function get_data(){//get drawed data  from many canvas, to global var

		draw_name=get_name();
		if(draw_name==""){
			alert("have not give the filename");
			return 0;
		}
		var msg={"name":draw_name};
		var data=msg;

		var XHR = new XMLHttpRequest();
		var urlEncodedData = "";
		var urlEncodedDataPairs = [];
		var name;

		// 将数据对象转换为URL编码的键/值对数组。
		for(name in data) {
			urlEncodedDataPairs.push(encodeURIComponent(name) + '=' + encodeURIComponent(data[name]));
		}

		// 将配对合并为单个字符串，并将所有%编码的空格替换为
		// “+”字符；匹配浏览器表单提交的行为。
		urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');
		// 建立我们的请求
		XHR.open('POST', 'http://127.0.0.1:5000/in',false);//false:wait the data loading
		// 为表单数据POST请求添加所需的HTTP头
		XHR.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		// 定义成功数据提交时发生的情况
		XHR.addEventListener('load', function(event) {
		alert('response success');
		});
		// 定义错误提示
		XHR.addEventListener('error', function(event) {
		alert('response faild(server online)');
		});

		XHR.onreadystatechange=function(){
			if (XHR.readyState == 4 && XHR.status == 200) {//4:done 200:request success
                console.log("done and 200");
                var json = XHR.responseText;//获取到json字符串，还需解析
                data_load=JSON.parse(json);
            }
            else if(XHR.status == 500){
            	alert("no such file!");
            }
		};

		XHR.send(urlEncodedData);
	}


	//ereaser
	cur_draw=draw_method;
	function change_draw(){
		var er_btn=document.getElementById("ereaser");
		

		if(cur_draw==draw_method){
			er_btn.innerHTML="now:clean";
			
			cur_draw=clean_method;

		}
		else{
			er_btn.innerHTML="now:draw✏️";
			cur_draw=draw_method;
		}
	}
	function draw_method(drawctx,color,x,y,W,H){
		drawctx.fillStyle=color;
		drawctx.fillRect(x,y,W,H);
	}
	function clean_method(drawctx,color,x,y,W,H){
		drawctx.clearRect(x,y,W,H);
	}

</script>
<script type="text/javascript" src="{{url_for('static',filename='floor_model.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='color_model.js')}}"></script>

</body>
</html>